.container {
    color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    /* width: 200px; */
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: aquamarine;
    width: 70px;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 5px;
    transition: box-shadow 250ms ease-in-out;
}

.btn:hover {
    box-shadow: 2px 2px 10px black;
}

.listItem {
    display: flex;
    gap: 9px;
}

.listItem:not(:last-child) {
margin-bottom: 9px;
}